In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow import keras

In [2]:
df = pd.read_csv("/content/drive/My Drive/ineuron_DLCVNLP/BiasCorrection_UCI/Bias_correction_ucl.csv")

In [3]:
df.isnull().sum()

station              2
Date                 2
Present_Tmax        70
Present_Tmin        70
LDAPS_RHmin         75
LDAPS_RHmax         75
LDAPS_Tmax_lapse    75
LDAPS_Tmin_lapse    75
LDAPS_WS            75
LDAPS_LH            75
LDAPS_CC1           75
LDAPS_CC2           75
LDAPS_CC3           75
LDAPS_CC4           75
LDAPS_PPT1          75
LDAPS_PPT2          75
LDAPS_PPT3          75
LDAPS_PPT4          75
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [4]:
df.iloc[7743:7752]

      station        Date  Present_Tmax  ...  Solar radiation  Next_Tmax  Next_Tmin
7743     19.0  2017-08-30          22.6  ...      4495.473633       27.1       16.6
7744     20.0  2017-08-30          22.7  ...      4554.965332       26.7       16.3
7745     21.0  2017-08-30          23.1  ...      4456.024414       27.6       17.7
7746     22.0  2017-08-30          22.5  ...      4441.803711       28.0       17.1
7747     23.0  2017-08-30          23.3  ...      4443.313965       28.3       18.1
7748     24.0  2017-08-30          23.3  ...      4438.373535       28.6       18.8
7749     25.0  2017-08-30          23.2  ...      4451.345215       27.8       17.4
7750      NaN         NaN          20.0  ...      4329.520508       17.4       11.3
7751      NaN         NaN          37.6  ...      5992.895996       38.9       29.8

[9 rows x 25 columns]

In [5]:
df.iloc[7750, 0] = 1.0
df.iloc[7751, 0] = 2.0

df.iloc[7750, 1] = "2017-08-31"
df.iloc[7751, 1] = "2017-08-31"

In [6]:
df.isnull().sum()

station              0
Date                 0
Present_Tmax        70
Present_Tmin        70
LDAPS_RHmin         75
LDAPS_RHmax         75
LDAPS_Tmax_lapse    75
LDAPS_Tmin_lapse    75
LDAPS_WS            75
LDAPS_LH            75
LDAPS_CC1           75
LDAPS_CC2           75
LDAPS_CC3           75
LDAPS_CC4           75
LDAPS_PPT1          75
LDAPS_PPT2          75
LDAPS_PPT3          75
LDAPS_PPT4          75
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [7]:
train_set = df[~df['Next_Tmax'].isnull()]
test_set = df[df['Next_Tmax'].isnull()]

In [8]:
print(df.shape, train_set.shape, test_set.shape)

(7752, 25) (7725, 25) (27, 25)

In [9]:
test_set.isnull().sum()

station              0
Date                 0
Present_Tmax        10
Present_Tmin        10
LDAPS_RHmin          0
LDAPS_RHmax          0
LDAPS_Tmax_lapse     0
LDAPS_Tmin_lapse     0
LDAPS_WS             0
LDAPS_LH             0
LDAPS_CC1            0
LDAPS_CC2            0
LDAPS_CC3            0
LDAPS_CC4            0
LDAPS_PPT1           0
LDAPS_PPT2           0
LDAPS_PPT3           0
LDAPS_PPT4           0
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [10]:
## Next_Tmax and Next_Tmin are the targets for this dataset

In [11]:
train_set.head()

   station        Date  Present_Tmax  ...  Solar radiation  Next_Tmax  Next_Tmin
0      1.0  2013-06-30          28.7  ...      5992.895996       29.1       21.2
1      2.0  2013-06-30          31.9  ...      5869.312500       30.5       22.5
2      3.0  2013-06-30          31.6  ...      5863.555664       31.1       23.9
3      4.0  2013-06-30          32.0  ...      5856.964844       31.7       24.3
4      5.0  2013-06-30          31.4  ...      5859.552246       31.2       22.5

[5 rows x 25 columns]

In [12]:
train_set['station'].nunique()

25

In [13]:
train_set.head(30)

    station        Date  Present_Tmax  ...  Solar radiation  Next_Tmax  Next_Tmin
0       1.0  2013-06-30          28.7  ...      5992.895996       29.1       21.2
1       2.0  2013-06-30          31.9  ...      5869.312500       30.5       22.5
2       3.0  2013-06-30          31.6  ...      5863.555664       31.1       23.9
3       4.0  2013-06-30          32.0  ...      5856.964844       31.7       24.3
4       5.0  2013-06-30          31.4  ...      5859.552246       31.2       22.5
5       6.0  2013-06-30          31.9  ...      5873.780762       31.5       24.0
6       7.0  2013-06-30          31.4  ...      5849.233398       30.9       23.4
7       8.0  2013-06-30          32.1  ...      5863.992188       31.1       22.9
8       9.0  2013-06-30          31.4  ...      5876.901367       31.3       21.6
9      10.0  2013-06-30          31.6  ...      5893.608398       30.5       21.0
10     11.0  2013-06-30          31.7  ...      5864.000977       31.2       24.5
11     12.0  2013-06-30          31.6  ...      5924.328613       32.6       22.2
12     13.0  2013-06-30          32.1  ...      5861.027344       31.4       24.3
13     14.0  2013-06-30          31.3  ...      5857.949707       31.7       22.9
14     15.0  2013-06-30          32.5  ...      5866.655762       30.8       22.8
15     16.0  2013-06-30          30.7  ...      5861.383301       30.8       20.9
16     17.0  2013-06-30          32.1  ...      5872.376465       31.5       21.1
17     18.0  2013-06-30          32.8  ...      5864.952637       33.1       23.9
18     19.0  2013-06-30          31.4  ...      5893.578125       31.8       21.6
19     20.0  2013-06-30          30.9  ...      5932.124023       30.8       23.0
20     21.0  2013-06-30          32.0  ...      5859.321777       30.6       24.0
21     22.0  2013-06-30          32.2  ...      5852.904297       32.6       23.7
22     23.0  2013-06-30          32.7  ...      5851.387695       31.8       23.2
23     24.0  2013-06-30          31.5  ...      5850.358887       31.3       23.7
24     25.0  2013-06-30          32.5  ...      5855.093750       32.0       24.2
25      1.0  2013-07-01          28.3  ...      5987.718750       24.8       18.7
26      2.0  2013-07-01          30.5  ...      5863.956055       27.3       21.5
27      3.0  2013-07-01          30.3  ...      5858.201660       28.1       21.8
28      4.0  2013-07-01          31.0  ...      5851.575195       27.9       21.5
29      5.0  2013-07-01          30.8  ...      5854.146973       28.2       22.2

[30 rows x 25 columns]

In [14]:
# By scanning we will fill the next day Tmax and next day Tmin to the present day value for each station
# or we can also forward fill the data since it is a temporal data

In [15]:
def combine(train,test):
  train['is_train'] = 1
  test['is_train'] = 0
  combined = pd.concat([train,test],axis=0)
  return combined

combined = combine(train_set,test_set)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
combined.shape

(7752, 26)

In [17]:
combined['Date'] = pd.to_datetime(combined['Date'])

In [18]:
combined.sort_values(by=["station",'Date'],inplace=True)

In [19]:
non_targets = combined.drop(['Next_Tmax',"Next_Tmin"],axis=1)

In [20]:
non_targets.fillna(method="ffill",inplace=True)

In [21]:
combined = pd.concat([non_targets, combined[['Next_Tmax','Next_Tmin']]],axis=1)

In [22]:
combined.head()

     station       Date  Present_Tmax  ...  is_train  Next_Tmax  Next_Tmin
0        1.0 2013-06-30          28.7  ...         1       29.1       21.2
25       1.0 2013-07-01          28.3  ...         1       24.8       18.7
50       1.0 2013-07-02          24.4  ...         1       28.1       17.8
75       1.0 2013-07-03          27.9  ...         1       25.2       20.8
100      1.0 2013-07-04          24.9  ...         1       28.0       19.7

[5 rows x 26 columns]

In [23]:
combined.isnull().sum()

station              0
Date                 0
Present_Tmax         0
Present_Tmin         0
LDAPS_RHmin          0
LDAPS_RHmax          0
LDAPS_Tmax_lapse     0
LDAPS_Tmin_lapse     0
LDAPS_WS             0
LDAPS_LH             0
LDAPS_CC1            0
LDAPS_CC2            0
LDAPS_CC3            0
LDAPS_CC4            0
LDAPS_PPT1           0
LDAPS_PPT2           0
LDAPS_PPT3           0
LDAPS_PPT4           0
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
is_train             0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [24]:
import re
def add_datepart(df, fldname, drop=True):
    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    for n in ('Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [25]:
add_datepart(combined, "Date")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  if __name__ == '__main__':

In [26]:
combined.head()

     station  Present_Tmax  ...  Is_year_start     Elapsed
0        1.0          28.7  ...          False  1372550400
25       1.0          28.3  ...          False  1372636800
50       1.0          24.4  ...          False  1372723200
75       1.0          27.9  ...          False  1372809600
100      1.0          24.9  ...          False  1372896000

[5 rows x 38 columns]

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
sc = StandardScaler()

In [29]:
combined.columns

Index(['station', 'Present_Tmax', 'Present_Tmin', 'LDAPS_RHmin', 'LDAPS_RHmax',
       'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH',
       'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1',
       'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4', 'lat', 'lon', 'DEM', 'Slope',
       'Solar radiation', 'is_train', 'Next_Tmax', 'Next_Tmin', 'Year',
       'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'Elapsed'],
      dtype='object')

In [30]:
columns_to_scale = ['Present_Tmax', 'Present_Tmin', 'LDAPS_RHmin', 'LDAPS_RHmax',
       'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH',
       'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1',
       'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4', 'lat', 'lon', 'DEM', 'Slope',
       'Solar radiation']

scaled_array = sc.fit_transform(combined[columns_to_scale].values)

In [31]:
scaled_df = pd.DataFrame(scaled_array,columns=columns_to_scale)
combined = pd.concat([combined.drop(columns_to_scale,axis=1),scaled_df],axis=1)

In [32]:
train_set = combined[combined['is_train'] == 1]
test_set = combined[combined['is_train'] == 0]

In [33]:
train_set.head()

   station  is_train  Next_Tmax  ...       DEM     Slope  Solar radiation
0      1.0         1       29.1  ...  2.772243  1.115004         1.517935
1      2.0         1       30.5  ...  2.772243  1.115004         1.505870
2      3.0         1       31.1  ...  2.772243  1.115004         1.492496
3      4.0         1       31.7  ...  2.772243  1.115004         1.477808
4      5.0         1       31.2  ...  2.772243  1.115004         1.461805

[5 rows x 38 columns]

# Model

In [34]:
from tensorflow.keras import Sequential

In [36]:
from tensorflow.keras.layers import Dense

In [57]:
model = Sequential()
model.add(Dense(13, input_dim=34, kernel_initializer='normal', activation='relu'))
model.add(Dense(13, kernel_initializer='normal', activation='relu'))
model.add(Dense(13, kernel_initializer='normal', activation='relu'))
model.add(Dense(13, kernel_initializer='normal', activation='relu'))
model.add(Dense(5, kernel_initializer='normal', activation='relu'))
model.add(Dense(2, kernel_initializer='normal'))
# Compile model
model.compile(loss='mean_squared_error', optimizer='adam')

In [58]:
X = train_set.drop(['station','is_train','Next_Tmax','Next_Tmin'],axis=1)
y = train_set[['Next_Tmax','Next_Tmin']]

In [59]:
mycols = ['Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start','Is_year_end', 'Is_year_start']
for col in mycols:
  X[col] = X[col].replace(True,1)
  X[col] = X[col].replace(False,0)

In [61]:
model.fit(X.values,y.values, epochs=100,batch_size=200)

Epoch 1/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4684
Epoch 2/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4647
Epoch 3/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4640
Epoch 4/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4632
Epoch 5/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4644
Epoch 6/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4661
Epoch 7/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4649
Epoch 8/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4651
Epoch 9/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4660
Epoch 10/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4666
Epoch 11/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4654
Epoch 12/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4681
Epoch 13/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4636
Epoch 14/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4651
Epoch 15/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4678
Epoch 16/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4650
Epoch 17/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4712
Epoch 18/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4761
Epoch 19/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4687
Epoch 20/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4738
Epoch 21/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4665
Epoch 22/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4654
Epoch 23/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4719
Epoch 24/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4745
Epoch 25/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4683
Epoch 26/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4671
Epoch 27/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4700
Epoch 28/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4665
Epoch 29/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4726
Epoch 30/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4663
Epoch 31/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4648
Epoch 32/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4798
Epoch 33/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4741
Epoch 34/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4687
Epoch 35/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4737
Epoch 36/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4704
Epoch 37/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4730
Epoch 38/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4728
Epoch 39/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4755
Epoch 40/100
39/39 [==============================] - 0s 2ms/step - loss: 8.4715
Epoch 41/100
39/39 [==============================] - 0s 2ms/step - loss: 8.4700
Epoch 42/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4732
Epoch 43/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4658
Epoch 44/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4819
Epoch 45/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4748
Epoch 46/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4708
Epoch 47/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4864
Epoch 48/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4726
Epoch 49/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4747
Epoch 50/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4704
Epoch 51/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4759
Epoch 52/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4715
Epoch 53/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4664
Epoch 54/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4646
Epoch 55/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4781
Epoch 56/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4775
Epoch 57/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4895
Epoch 58/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4728
Epoch 59/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4747
Epoch 60/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4793
Epoch 61/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4731
Epoch 62/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4681
Epoch 63/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4721
Epoch 64/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4798
Epoch 65/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4739
Epoch 66/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4678
Epoch 67/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4750
Epoch 68/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4761
Epoch 69/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4804
Epoch 70/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4812
Epoch 71/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4686
Epoch 72/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4738
Epoch 73/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4760
Epoch 74/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4714
Epoch 75/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4752
Epoch 76/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4795
Epoch 77/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4825
Epoch 78/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4845
Epoch 79/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4794
Epoch 80/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4914
Epoch 81/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4850
Epoch 82/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5083
Epoch 83/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4736
Epoch 84/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4819
Epoch 85/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4813
Epoch 86/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4854
Epoch 87/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4854
Epoch 88/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4752
Epoch 89/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5170
Epoch 90/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5105
Epoch 91/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5039
Epoch 92/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5071
Epoch 93/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5021
Epoch 94/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4947
Epoch 95/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5180
Epoch 96/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4999
Epoch 97/100
39/39 [==============================] - 0s 1ms/step - loss: 8.5095
Epoch 98/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4970
Epoch 99/100
39/39 [==============================] - 0s 2ms/step - loss: 8.4996
Epoch 100/100
39/39 [==============================] - 0s 1ms/step - loss: 8.4790

In [62]:
X_test = test_set.drop(['station','is_train','Next_Tmax','Next_Tmin'],axis=1)
y_test = test_set[['Next_Tmax','Next_Tmin']]

In [64]:
mycols = ['Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start','Is_year_end', 'Is_year_start']
for col in mycols:
  X_test[col] = X_test[col].replace(True,1)
  X_test[col] = X_test[col].replace(False,0)

In [66]:
preds = model.predict(X_test.values)

In [67]:
test_set[['Next_Tmax','Next_Tmin']] = preds

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [68]:
test_set

      station  is_train  Next_Tmax  ...       DEM     Slope  Solar radiation
831       7.0         0  28.903372  ... -0.526218 -0.723133         0.538797
856       7.0         0  28.905186  ... -0.526218 -0.723133        -1.022698
1073     24.0         0  28.919720  ... -0.297588  0.932424         0.801879
2465     16.0         0  29.571550  ... -0.172266  0.223191        -0.746962
3696     22.0         0  30.210649  ...  1.294304 -0.484508         0.021186
3714     15.0         0  30.212471  ...  1.294304 -0.484508        -1.323759
3739     15.0         0  30.214289  ... -0.037504  1.043125         0.803594
3886     12.0         0  30.225197  ... -0.037504  1.043125        -0.398569
4205      6.0         0  30.248810  ... -0.569309 -0.466338        -1.049366
4230      6.0         0  30.250587  ... -0.569309 -0.466338         0.932661
4255      6.0         0  30.252428  ... -0.569309 -0.466338        -0.253228
4280      6.0         0  30.254230  ... -0.569309 -0.466338         1.203471
5656      7.0         0  30.906071  ...  0.243650  0.372715         1.048562
5681      7.0         0  30.907881  ...  0.243650  0.372715        -0.087538
6060     11.0         0  30.935131  ...  1.560277  2.534052        -0.437778
6268     19.0         0  31.499800  ... -0.655350 -0.499833         1.148715
6357      8.0         0  31.507055  ... -0.655350 -0.499833         0.179903
6435     11.0         0  31.512505  ... -0.655350 -0.499833        -0.951541
6907      8.0         0  31.547009  ... -0.852681 -0.803915         0.551213
7254      5.0         0  31.572437  ... -0.821213 -0.755095        -2.011976
7304      5.0         0  31.576054  ... -0.821213 -0.755095        -0.987781
7344     20.0         0  31.577881  ... -0.821213 -0.755095         0.360584
7504      5.0         0  31.590570  ... -0.779043 -0.719338         1.196816
7554      5.0         0  31.594217  ... -0.779043 -0.719338        -1.120766
7571     22.0         0  31.594215  ... -0.779043 -0.719338         1.120939
7604      5.0         0  31.597847  ... -0.779043 -0.719338        -0.249270
7682      8.0         0  31.603289  ... -0.779043 -0.719338        -1.537825

[27 rows x 38 columns]